<!DOCTYPE html>
<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <title>Stylist Page</title>
  </head>
  <body>
    <div class="container">
      <h1>{{ stylist.getName }}</h1>
      <div class="row">
        <div class="col-sm-6">
          <h2>Clients:</h2>
          <ul>
            {% for client in clients %}
              <li><a href="/get_client/{{client.getId}}">{{ client.getName }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-sm-6">
          <h2>Add a New Client for this Stylist:</h2>
          <form action="/add_client" method="post">
            <label for="client_name">Name</label>
            <input id="client_name" type="text" name="client_name">
            <input type="hidden" name="stylist_id" value="{{ stylist.getId }}">
            <br>
            <br>
            <button class="btn-success btn-md" type="submit">Client Name:</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
