<!DOCTYPE html>
<html>
  <head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <title>Salon - Edit Stylist</title>
  </head>
  <body>
    <div class="container">
      <h1>Update {{ stylist.getName }}'s Stylist Profile </h1>
      <form action="/update_stylist_name" method="post">
        <label for="stylist_name">Name</label>
        <input id="stylist_name" type="text" name="stylist_name">
        <br>
        <button class="btn-success btn-md" type="submit">Name</button>
      </form>
        <br>
        <br>
      <form action="/update_stylist_schedule" method="post">
        <label for="stylist_scheduled_days">Scheduled Days</label>
        <input id="stylist_scheduled_days" type="text" name="stylist_scheduled_days">
        <br>
        <button class="btn-success btn-md" type="submit">Schedule</button>
      </form>
      <br>
      <br>
      <form action="/update_stylist_specialties" method="post">
        <label for="stylist_specialties">Specialties</label>
        <input id="stylist_specialties" type="text" name="stylist_specialties">
        <br>
        <button class="btn-success btn-md" type="submit">Specialties</button>
      </form>
    </div>
  </body>
</html>
